<apex:page standardController="Cover_Sheet__c" standardStylesheets="false" showHeader="false" >
<apex:stylesheet value="{!URLFOR($Resource.advancedpdfsource, 'qstyles.css')}" />

<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>INTERNAL USE ONLY</title>
 </head>

<body class="oneColElsCtr">

<div id="container">
  <div id="mainContent">
  <p>  
  <table width="855" border="0">
      <tr>
        <td width="173"><apex:image value="https://c.na6.content.force.com/servlet/servlet.ImageServer?id=01580000000vjOP&oid=00D300000000aSY&lastMod=1332533543000" width="150" height="51"/></td>
        <td width="505"><h1 class="red">COVER SHEET FACILITY</h1></td>
        <td width="161"><table width="99%" border="0" cellpadding="0" cellspacing="0">
        <td align="center"><a href="javascript:window.print();">Print Cover Sheet</a></td>
  </table></td>
      </tr>
  </table>

<!-- Account Details section -->
<h2 class="red"><span class="boldsub">Account Details</span></h2>

<table id="customers">
  <tr>
     <th width="35%">Account</th>
     <th width="35%">Facility Name (or dba)</th>
     <th width="10%">Submit Date</th>
  </tr>
 <tr>
     <td><apex:outputField style="text-decoration: none" value="{!Cover_Sheet__c.Highlight_Sheet__r.Network_Update__r.Account__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Facility_Name_or_dba__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Submit_Date__c}"/></td>     
</tr>
</table>
<br />

<table id="customers">
<tr>
     <th width="6%">Number of Sites</th>
     <th width="35%">Medicare Provider #</th> 
     <th width="30%">National Provider Identifier</th>
     <th width="19%">TIN</th>
     <th width="19%">HCode</th>   
     <th width="12%">JCAHO Accredited</th>         
</tr>
<tr>
     <td><apex:outputField value="{!Cover_Sheet__c.Number_of_Sites__c}"/></td>  
     <td><apex:outputField value="{!Cover_Sheet__c.Medicare_Provider__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.National_Provider_Identifier__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.TIN__c}"/></td>  
     <td><apex:outputField value="{!Cover_Sheet__c.Hcode__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.JCAHO_Accredited__c}"/></td>                       
</tr>
</table>
<br />

<!-- This is part of the Account Details section: Shipping Info -->

<table id="customers">
<tr>
      <th width="35%">Shipping Street</th>
      <th width="25%">Shipping City</th>
      <th width="15%">Shpping State</th>
      <th width="25%">Shipping Zip Code</th>   
</tr>
<tr>
      <td><apex:outputField value="{!Cover_Sheet__c.Highlight_Sheet__r.Network_Update__r.Group_Street__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Highlight_Sheet__r.Network_Update__r.Group_City__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Highlight_Sheet__r.Network_Update__r.Group_State__c}"/></td>      
      <td><apex:outputField value="{!Cover_Sheet__c.Highlight_Sheet__r.Network_Update__r.Group_Zip_Code__c}"/></td> 
</tr>
</table>    
<br />

<!-- This is part of the Account Details section: Service Address Info -->
<table id="customers">
<tr>
      <th width="35%">Service Street</th>
      <th width="25%">Service City</th>
      <th width="15%">Service State</th>
      <th width="25%">Service Zip Code</th>   
</tr>
<tr>
      <td><apex:outputField value="{!Cover_Sheet__c.Service_Street__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Service_City__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Service_State__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Service_Zip_Code__c}"/></td>
</tr>
</table>    
<br />

<!-- This is part of the Account Details section: Service Address Info -->
<table id="customers">
<tr>
      <th width="35%">Telephone #</th>
      <th width="35%">Email</th>
      <th width="35%">Fax #</th>
</tr>
<tr>
      <td><apex:outputField value="{!Cover_Sheet__c.Telephone__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.E_mail__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Fax__c}"/></td>  
</tr>
</table>    
<br />

<!-- This is part of the Account Details section -->
<table id="customers">
<tr>
      <th width="20%">Negotiator</th>
      <th width="15%">Negotiator Date</th>
      <th width="20%">Regional Approval</th>
      <th width="15%">Regional Approval Date</th>      
      <th width="15%">Contract Administrator</th>
      <th width="20%">Contract Administrator Date</th> 
</tr>
<tr>
      <td><apex:outputField value="{!Cover_Sheet__c.Highlight_Sheet__r.Network_Update__r.Negotiator__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Negotiator_Date__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Regional_Approval__c}"/></td>  
      <td><apex:outputField value="{!Cover_Sheet__c.Regional_Approval_Date__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Contract_Administrator__c}"/></td>
      <td><apex:outputField value="{!Cover_Sheet__c.Contract_Administrator_Date__c}"/></td>       
</tr>
</table>    


<!-- This is part of the Re-pricing Transmittals section -->
<h2 class="red"><span class="boldsub">Re-pricing Transmittals (Acute Only)</span></h2>

<table id="customers">
  <tr>
     <th width="16%">Contact Name</th>
     <th width="16%">Contact Title</th>
     <th width="16%">Telephone #</th>
     <th width="16%">Telephone Ext</th> 
     <th width="16%">Email</th>   
     <th width="16%">Fax #</th>        
  </tr>
 <tr>
     <td><apex:outputField style="text-decoration: none" value="{!Cover_Sheet__c.Acute_Contact_Name__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Acute_Contact_Title__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Acute_Telephone__c}"/></td>     
     <td><apex:outputField value="{!Cover_Sheet__c.Acute_Telephone_Ext__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Acute_Contact_Email__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Acute_Fax__c}"/></td>        
</tr>
</table>

<!-- This is part of the Contract Details section -->
<h2 class="red"><span class="boldsub">Contracting Details</span></h2>
<table id="customers">
  <tr>
     <th width="26%">Contract Type</th>
     <th width="74%">Contract Requirements</th>
     
  </tr>
 <tr>
     <td><apex:outputField style="text-decoration: none" value="{!Cover_Sheet__c.Contract_Type_Facility__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Contract_Requirements_Facility__c}"/></td>
</tr>
</table>

<!-- This is part of the Provider Type section -->
<h2 class="red"><span class="boldsub">Provider Type</span></h2>
<table id="customers">
  <tr>
     <th width="18%">Provider Type</th>
     <th width="8%"># of Beds</th>
     <th width="74%">Provider Type - Ancillary</th>     
     
  </tr>
 <tr>
     <td><apex:outputField style="text-decoration: none" value="{!Cover_Sheet__c.Provider_Type_Acute_Care_Hospital__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Acute_Care_Hospital_of_Beds__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Provider_Type_Ancillary__c}"/></td>     
</tr>
</table>

<!-- This is part of the Contract Information section -->
<h2 class="red"><span class="boldsub">Contract Information</span></h2>
<table id="customers">
  <tr>
     <th width="26%">Signatory Name</th>
     <th width="19%">Title</th>
     <th width="19%">Effective Date</th>     
     <th width="35%">Termination Date (if not evergreen)</th>          
     
  </tr>
 <tr>
     <td><apex:outputField value="{!Cover_Sheet__c.Signatory_Name__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Title__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Effective_Date__c}"/></td>     
     <td><apex:outputField value="{!Cover_Sheet__c.Termination_Date_if_not_evergreen__c}"/></td>       
</tr>
</table>

<!-- This is part of the Contract Modifications & Approvals section -->
<h2 class="red"><span class="boldsub">Contract Modifications and Approvals</span></h2>
<table id="customers">
  <tr>
     <th width="26%">Standard Contract</th>
     <th width="19%">Non-Standard Contract (List all changes)</th>
     <th width="19%">Reviewing Attorney</th>     
  </tr>
 <tr>
     <td><apex:outputField value="{!Cover_Sheet__c.Standard_Contract__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Non_Standard_Contract_List_all_changes__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Reviewing_Attorney__c}"/></td>     
</tr>
</table>


<!-- This is part of the Department Approvals section -->
<h2 class="red"><span class="boldsub">Department Approvals</span></h2>
<table id="customers">
  <tr>
     <th width="26%">Legal</th>
     <th width="19%">Legal Date</th>
     <th width="19%">Final Ops Approval</th>     
     <th width="19%">Final Ops Approval Date</th>        
  </tr>
 <tr>
     <td><apex:outputField style="text-decoration: none" value="{!Cover_Sheet__c.Legal__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Legal_Date__c}"/></td>
     <td><apex:outputField value="{!Cover_Sheet__c.Final_Ops_Approval__c}"/></td>     
     <td><apex:outputField value="{!Cover_Sheet__c.Final_Ops_Approval_Date__c}"/></td>      
</tr>
</table>
<br />

<p>SFDCCS042913</p>
</p>
</div>
</div>
</body>
</html>
</apex:page>